@import "~bootstrap/scss/bootstrap.scss";
.websiteCounter {
    background-color: black;
    text-align: center;
}
.websiteCounter div {
    color: white;
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    padding: 10px;
}